<div>
    <div>
        <h1>Chat</h1>
    </div>
    <div>
        <p>Mensaje de Chat</p>
    </div>
    <div>
        <input type="text">
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="/js/scripts.js"></script>